include LICENSE
include CITATION.cff
include tox.ini
include mypy.ini
include config/config.ini
include dev_requirements.txt
include fp_hs.png
include *.md
exclude .gitlab-ci.yml .gitlab-ci-ifremer.yml
recursive-include notebooks *.ipynb
recursive-include resourcecode *.py
recursive-include resourcecode/data *.feather *.json
recursive-include tests *.py
recursive-include tests *.json *.csv
recursive-include resourcecode *.csv

prune codes_to_migrate
prune doc
